<footer>
    <div class="footer-content">
        <ul>
            <h3>Réalisé par</h3>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/Mobzaaz">Alex</a></li>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/Daymortel">Dylan</a></li>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/NaorimSenchai">Romain</a></li>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/Bubamara0">Timothée</a></li>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://i.pinimg.com/originals/76/81/87/7681878bc573c39075babdb7bc07c031.jpg">Un lama</a></li>
        </ul>
        <ul>
            <h3>Nos coordonnées</h3>
            <li>Tel : <a target="_blank" rel="nofollow noopener noreferrer" href="tel:+33123456789">01.23.45.67.89</a></li>
            <li>Email : <a target="_blank" rel="nofollow noopener noreferrer" href="mailto:example@gmail.com">example@gmail.com</a></li>
            <li>Adresse : <a target="_blank" rel="nofollow noopener noreferrer" href="https://www.github.com/">4, Avenue du Château Hébert 35800 Dinard</a></li>
        </ul>
        <ul>
            <h3>Nos projets</h3>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://www.github.com/">Projet 1</a></li>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://www.github.com/">Projet 2</a></li>
            <li><a target="_blank" rel="nofollow noopener noreferrer" href="https://www.github.com/">Projet 3</a></li>
        </ul>
    </div>
    
    <div class="copyright">2022 © Équipe 1 - IMTS</div>
</footer>