<nav id="navbar">
    <a class="logo" href="/"></a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">À propos</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="burger"></div>
</nav>
<nav id="overlay">
    <div>
        <div class="cross"></div>
    </div>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<script src="/js/burger.js"></script>
