<nav id="navbar">
    <a class="logo" href="/"></a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="burger"></div>
    <div class="subMenu">
        <div>
            <div class="cross"></div>
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>