<nav id="navbar">
    <a class="logo" href="/"></a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/">Accueil</a></li>
        <li><a href="/">Accueil</a></li>
    </ul>
</nav>