<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lien de l'étiquette : "https://mondialrelay.com${beforeFormating[0].URL_Etiquette[0]"</a></p>
</body>
<script src="creationEtiquette.js"></script>
</html>