:root{
    --navbarHeight : 4.8rem;

    --main-color : #CA0047;
    --secondary-color : #F55169;

    --white : #fefefe;
}

*{
    margin: 0;
    padding: 0;
    border-spacing: 0;
    list-style: inherit;
    color: inherit;
    font-family: "Helvetica", sans-serif;
    font-size: 1.6rem;
}

html{
    font-size : 62.5%;
    height: 100%;
}
h1{font-size: 2.4rem}
h2{font-size: 2.2rem}
h3{font-size: 1.8rem}