body{
	padding-top:  calc(var(--navbarHeight) * 2);
	background-color: var(--white);
}
#form-container{
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
#form-container h1{
	text-align: center;
	padding: 2.4rem .8rem;
	font-size: 3.8rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-color);
	font-family: "quicksand", serif;
}

#form-container p{
	text-align: center;
	font-family: "quicksand", serif;
}

form{
	display: flex;
	flex-flow: column nowrap;
	padding: .8rem;
	background-color: var(--white);
}

form .subform{
	background-color: var(--broken-white);
	padding: .8rem;
	border-radius: .2rem;
	border: solid 1px var(--light-gray);
}

.separator-row{
	margin : 2.4rem 0;
	padding: .8rem;
	color: var(--medium-gray);
	border-bottom: solid 1px var(--light-gray);
}

form .form-row{
	display: flex;
	align-items: center;
}
form .form-row .input-box{
	display: flex;
	flex-grow: 1;
	padding: .8rem;
	flex-flow: column nowrap;
}
form .form-row label{
	margin-bottom: .4rem;
	margin-left: .8rem;
	color: var(--medium-gray);
}
form .form-row input,
form .form-row select {
	flex-grow: 1;
	padding: .8rem;
	background: var(--white);
	border: solid 1px var(--light-gray);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}

.btns-box{
	padding: 2.4rem 0;
}
.btns-box .input-box{
	flex-basis: 50%;
}

#fill{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .8rem;
	background-color: inherit;
	color: #fefefe00;
	border: solid 1px #fefefe00;
	border-radius: .2rem;
	cursor: pointer;
	transition: background-color .4s ease-out, color .4s ease-out;
}
#fill:hover{
	color: var(--light-gray);
	border: solid 1px var(--light-gray);
}

form input[type="submit"]{
	display: flex;
	width: max-content;
	justify-content: center;
	align-items: center;
	padding: 1.2 .8rem;
	margin: 0 auto;
	background-color: var(--main-color);
	color: var(--white);
	border: none;
	border-radius: .2rem;
	cursor: pointer;
	transition: background-color .4s ease-out;
}
form input[type="submit"]:hover{
	background-color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
	form .form-row{
		display: flex;
		flex-flow: column nowrap;
	}
	form .form-row .input-box{
		margin: 0 auto;
	}
	form .input-box > * {
		margin: 0 auto;
	}
	form .form-row .select-label{
		margin-left: .8rem;
	}
	form .form-row .select-label,
	form .form-row select {
		width: calc(100% - 25.6px);
	}
	.btns-box .input-box{
		flex-basis: inherit;
	}
	.container{
		width: 90vw;
	}
}

.map-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80rem;
	height: 60rem;
	border: solid 1px var(--light-gray);
	border-radius: .4rem;
	background-color: #FEFEFE;
	color: #fefefe;
}
#loading {
	display: none;
	position: absolute;
	height: 6.4rem;
	width: 6.4rem;
	object-fit: contain;
	animation: loading 1s ease-in-out infinite;
}
@keyframes loading {
	0%{
		opacity: 100%;
	}
	50%{
		opacity: 50%;
	}
	100%{
		opacity: 100%;
	}
}

#map {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.map-overlay {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #29292988;
	backdrop-filter: blur(8px);
	animation: fadeIn .3s ease-out;
}
@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
	.pr-card {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: max-content;
		height: max-content;
		background-color: #fefefe;
		color: #292929;
		border-radius: .4rem;
		padding: .8rem;
	}
		.pr-card-column {
			display: flex;
			flex-flow: column nowrap;
		}
		.pr-card-row {
			display: flex;
			flex-flow: row nowrap;
		}
			.pr-photo {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 3.2rem;
				max-height: 8.6rem;
				min-width: 3.2rem;
				max-width: 8.6rem;
				object-fit: cover;
				border-radius: 99rem;
				margin: .4rem .8rem;
			}
			.pr-name {
				font-family : "quicksand", sans-serif;
				color: var(--main-color);
				margin: .4rem .8rem;
			}
			.pr-address {
				display: flex;
				flex-flow: row wrap;
				margin: .4rem .8rem;
			}
			.pr-schedules-box {
				display: flex;
				flex-flow: flex wrap;
				width: max-content;
				background-color: var(--light-gray);
				border: solid 1px var(--medium-gray);
				margin: .4rem;
				padding: .8rem;
				border-radius: .4rem;
			}
			.pr-schedule-row {
				justify-content: space-between;
			}
			.pr-day {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				padding: .2rem .4rem;
			}
			.pr-schedule {
				display: flex;
				justify-content: flex-start;
			}
			.pr-schedule p {
				display: flex;
				flex-flow: row nowrap;
				width: max-content;
				padding: .2rem .8rem;
			}
			.pr-schedule-separadots {
				display: flex;
				flex-grow: 1;
				background-image: url("../img/dot.png");
				background-position: center;
				background-size: 4px;
				background-repeat: repeat-x;
			}
			.pr-current-schedule {
				padding: .8rem;
			}
	.closer-container {
		justify-content: flex-end;
	}
	.map-overlay-closer {
		height: 3.2rem;
		width: 3.2rem;
		border: none;
		background-color: inherit;
		color: inherit;
		background-image: url("../img/cross_dark.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.map-overlay-closer:hover {
		backdrop-filter: brightness(1.2);
	}