body{
	padding-top:  calc(var(--navbarHeight) * 2);
	background-color: var(--white);
}
#form-container{
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
#form-container h1{
	text-align: center;
	padding: 2.4rem .8rem;
	font-size: 3.8rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--main-color);
	font-family: "quicksand", serif;
}

#form-container p{
	text-align: center;
	font-family: "quicksand", serif;
}

form{
	display: flex;
	flex-flow: column nowrap;
	padding: .8rem;
	background-color: var(--white);
}

form .subform{
	background-color: var(--broken-white);
	padding: .8rem;
	border-radius: .2rem;
	border: solid 1px var(--light-gray);
}

.separator-row{
	margin : 2.4rem 0;
	padding: .8rem;
	color: var(--medium-gray);
	border-bottom: solid 1px var(--light-gray);
}

form .form-row{
	display: flex;
	align-items: center;
}
form .form-row .input-box{
	display: flex;
	flex-grow: 1;
	padding: .8rem;
	flex-flow: column nowrap;
}
form .form-row label{
	margin-bottom: .4rem;
	margin-left: .8rem;
	color: var(--medium-gray);
}
form .form-row input,
form .form-row select {
	flex-grow: 1;
	padding: .8rem;
	background: var(--white);
	border: solid 1px var(--light-gray);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}

.btns-box{
	padding: 2.4rem 0;
}
.btns-box .input-box{
	flex-basis: 50%;
}